.form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 30%;
  margin: auto;
}
.form input,
.form select {
  width: 100%;
  box-sizing: border-box;
}
.form .input__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 0.5fr);
}

.label--last label:last-of-type {
  text-align: center;
}

.input--full > input,
.input--full > select {
  grid-column: span 3;
}
