.form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 30%;
  margin: auto;
}

.form .input__item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.6fr;
  margin: 10px 0;
  height: 2.5rem;
}

.label--last label:last-of-type {
  text-align: center;
}

.input--full input,
.input--full select {
  grid-column: span 3;
}

.input--half input:first-of-type {
  width: 60%;
}
.checkbox {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.6fr;
}
.checkbox__items {
  grid-column: 2/5;
  display: flex;
  margin: 20px 0;
}

.checkbox__item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.checkbox__item input {
  margin: 0 10px 0 0;
  width: 1rem;
  height: 1rem;
}

.form__button {
  display: flex;
}
.form__button button {
  height: 2rem;
  text-align: center;
  padding: 0 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
}
.form__button--submit {
  background-color: blue;
  color: white;
}
.form__button--show {
  background-color: yellow;
}

.test {
}
